<a href="https://colab.research.google.com/github/valenja9/Python_15_19/blob/main/Python_15_19_VIII.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_excel("/content/skola.xlsx")

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   JMÉNO                          24 non-null     object
 1   KLUCI/HOLKY                    24 non-null     object
 2   OBEC                           24 non-null     object
 3   VLASTNÍ ZVÍŘE                  23 non-null     object
 4   RÁD/A ČTE                      23 non-null     object
 5   NĚCO SBÍRÁ                     22 non-null     object
 6   SPORT                          23 non-null     object
 7   MASO (ČASTO, MÁLOKDY, NE)      23 non-null     object
 8   BARVA                          23 non-null     object
 9   VÝZVY - POČET DOSUD VYUŽITÝCH  23 non-null     object
 10  NÁVRAT DO ŠKOLY                23 non-null     object
 11  BYT/DŮM                        23 non-null     object
 12  HUDEBNÍ NÁSTROJ                23 non-null     object
 13  KONÍČKY                        23 non-null     object
 14  VÝŠKA                          23 non-null     object
 15  NERAD VSTÁVÁM                  22 non-null     object
 16  COVID                          23 non-null     object
 17  ŠKOLA BAVÍ/NEBAVÍ              23 non-null     object
 18  ALERGIE                        23 non-null     object
 19  SOUROZENCI                     23 non-null     object
 20  NAVŠTÍVENÉ STÁTY               23 non-null     object
 21  ŘEKY NA LODI                   23 non-null     object
 22  SNĚŽKA                         23 non-null     object
 23  HMOTNOST                       23 non-null     object
 24  BARVA VLASŮ                    23 non-null     object
dtypes: object(25)
memory usage: 4.8+ KB

In [ ]:
data.head(3)

               JMÉNO KLUCI/HOLKY  ...           HMOTNOST BARVA VLASŮ
0  Bittnerová Tereza           H  ...  nefunguje mi váha       hnědá
1       Dvořák Jakub           K  ...                 67      Zrzavá
2      Fišer Vojtěch           K  ...              56 kg       hnědá

[3 rows x 25 columns]

In [ ]:
data.describe()

                    JMÉNO KLUCI/HOLKY  ... HMOTNOST BARVA VLASŮ
count                  24          24  ...       23          23
unique                 24           2  ...       21          10
top     Bittnerová Tereza           K  ...     39kg       hnědá
freq                    1          14  ...        2          11

[4 rows x 25 columns]

In [ ]:
slovnik = {}
for klic in data["RÁD/A ČTE"].values:
  if type(klic) == float:
     slovnik["nan"] = slovnik.get("nan",0) + 1
  else:
    klic = klic.lower()
    slovnik[klic] = slovnik.get(klic,0) + 1
slovnik

{'ano': 4, 'nan': 1, 'ne': 18, 'podle nálady': 1}

In [ ]:
for klic in slovnik:
  print(round(slovnik[klic]/sum(slovnik.values()) * 100, 1), "%")

16.7 %
4.2 %
75.0 %
4.2 %

In [ ]:
slovnik = {'ano': 4, 'nan': 1, 'ne': 18, 'podle nálady': 1}
slovnik.get("Ano", "Tohle tady není!")

'Tohle tady není!'

In [ ]:
#Ulož jména 6 známých do listu
listik = ["Tomáš", "Jakub", "Štefan", "Stanislav", "Michal", "Péťa"]
print(listik)

['Tomáš', 'Jakub', 'Štefan', 'Stanislav', 'Michal', 'Péťa']

# Budme prosim  lini!!!!!!

In [ ]:
jmenaZnamych = []
jmenaZnamych.append("Šimon")
jmenaZnamych.append("Pepa")
jmenaZnamych.append("Ontro")
jmenaZnamych.append("Kuba")
jmenaZnamych.append("Matyáš")
jmenaZnamych.append("Lukáš")
print(jmenaZnamych)

In [ ]:
len(listik)

6

In [ ]:
for l in listik:
  print(len(l))

5
5
6
9
6
4

In [ ]:
for l in listik:
  print(l[::2])

Tmš
Jkb
Šea
Sailv
Mca
Pť

In [ ]:
str, int, float, bool, str, tuple, list, dict

In [ ]:
tuple(listik)

('Tomáš', 'Jakub', 'Štefan', 'Stanislav', 'Michal', 'Péťa')

In [ ]:

if jmeno[0] == "M":
  print("")
elif jmeno[0] == "P":
  print("")
else:
  print("Konec")

In [ ]:
klic: hodnota
jmeno1: "Petr"
jmeno2: "Kamil"
jmeno3: "Kamil"

In [ ]:
slovnik = {}
slovnik["jmeno1"] = "Jakub"
slovnik

{'jmeno1': 'Jakub'}

In [ ]:
#vytvor slovnik do ktereho pridate celkem 10 jmen.
#a) Předem vím, že jich bude 10.
slovnik = {}
for i in range(10):
    hodnota = input("zadej jmeno")
    slovnik["jmeno" + str(i)] = hodnota
print(slovnik)

#b) Nevím kolik jich bude.
slovnik = {}
i = 0
while True:
    i += 1
    print("Pro ukončení napiš exit")
    jmeno = input("Zadej jméno: ")
    if jmeno.lower() == "exit" or i == 10:
        break
    slovnik["jmeno" + str(i)] = jmeno
print(slovnik)

In [ ]:
def pridej_urcity_pocet(pocet): #
  slovnik = {}
  for i in range(pocet):
      hodnota = input("zadej jmeno")
      slovnik["jmeno" + str(i)] = hodnota
  return slovnik

In [ ]:
pridej_urcity_pocet(2)

zadej jmenojakub
zadej jmenopetr
{'jmeno0': 'jakub', 'jmeno1': 'petr'}

In [ ]:
slovnik = pridej_urcity_pocet(2)

zadej jmenojakub
zadej jmenopetr

In [ ]:
slovnik.keys()

dict_keys(['jmeno0', 'jmeno1'])

In [ ]:
def secti_dve_cisla(x, y):
  vysledek = x + y
  # return vysledek

In [ ]:
print(secti_dve_cisla(50, 60))

None

In [ ]:
vysledek = sum([1,2,3])

In [ ]:
vysledek

6

In [ ]:
def vstavam(cas):
  print("Dnes vstavam v: ", cas)

def delam_snidani():
  for jidlo in lednicka:
    print(jidlo)

def je_volna_koupelna(svetlo_sviti):
  if svetlo_sviti == False:
    return True
  else:
    return False

lednicka = ["banan", "okurek", "jogurt"]
vstavam(7)
delam_snidani()

if je_volna_koupelna(False) == True:
  print("Muzes jit do sprchy!")

Dnes vstavam v:  7
banan
okurek
jogurt
Muzes jit do sprchy!

In [ ]:
#napis funkci, ktera nacte list jmen a ke každému jménu musí uživatel zadat vek. Funkce vraci slovnik
def